.benefits-product {
  background-color: $primary-color;
  .row {
    flex-direction: row-reverse !important;
  }
  &:nth-child(odd) {
    padding-top: 75px;
    background-color: #fff;
    .row {
      flex-direction: row !important;
    }
    .benefits-product-box {
      box-shadow: none;
    }
    .benefits-product-offer {
      .title-section , .desc-section {
        color: $primary-black;
      }
    }
  }
  .benefits-product-offer {
    .title-section , .desc-section {
      color: $primary-white;
    }
    .desc-section {
      @media screen and (max-width: 768px) {
        margin-bottom: 20px !important;
      }
    }
  }
  padding-bottom: 75px;
  padding-top: 75px;
  &-box {
    //@include boxShadow($regular-box);
    padding: 20px;
  }
  &-offer {
    .title-section {
      margin-bottom: 10px;
    }
    .desc-section {
      @include font($roboto, $regular-weight, $p, $lh-text, $primary-black);
    }
  }
  .benefits-product-img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    @include boxShadow($regular-box);
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}