.benefits-product {
  &:nth-child(odd) {
    .col-xl-7 {
      justify-content: flex-start;
    }
    .row {
      flex-flow: row-reverse;
    }
    padding-top: 75px;
    background-color: $primary-color;
    color: $primary-white;

    .benefits-product-offer {
      .title-section , .desc-section {
        color: $primary-white;
      }
    }
    .benefits-product-box {
      box-shadow: none;
    }
  }
  padding-bottom: 75px;
  &-box {
    padding: 16px;
  }
  &-offer {
    .title-section {
      margin-bottom: 10px;
    }
    .desc-section {
      @include font($roboto, $regular-weight, $p, $lh-text, $primary-black);
    }
  }
  &-box:hover {
    @include animation;
    @include boxShadow($regular-box);
  }
  .col-xl-7 {
    justify-content: flex-end;
  }
}