.dealer-invite {
  @include paddingSection;
  position: relative;
  background-color: $primary-color;

  &-offer {
    .title-section {
      margin-bottom: 15px;
    }
    .desc-section {
      @include font($roboto, $regular-weight, $p, $lh-text, $primary-white);
      margin-bottom: 15px;
    }
  }

  &-img {
    position: relative;
    z-index: 2;
    @include boxShadow($regular-box);
  }

  .gradient-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
}