.leasing-action {
  @include paddingSection;
  background-color: $primary-color;
  position: relative;

  &-img {
    width: 325px;
    height: 411px;
    max-width: 325px;
    max-height: 411px;
    position: relative;
    z-index: 2;
  }
  &-offer {
    position: relative;
    z-index: 2;
    .title-section {
      margin-bottom: 15px;
    }
  }
  .gradient-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
}