.news-grid {
  @include paddingSection;
  .categories {
    margin-bottom: 42px;
    .nav-pills {
      .active {
        background-color: $primary-color;
        color: $primary-white !important;
      }
      .nav-link {
        color: $primary-color;
      }
    }
  }
}