.our-products-action {
  position: relative;
  @include paddingSection;
  background-color: $primary-color;
  &-img {
    position: relative;
    z-index: 2;
    @include boxShadow($regular-box);
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
      max-height: 229px;
      width: 100%;
      object-fit: cover;
    }
  }
  &-offer {
    position: relative;
    z-index: 2;
    .title-section {
      margin-bottom: 15px;
    }
    .list-offer {
      margin-bottom: 15px;
      .offer-item {
        @include font($roboto, $regular-weight, $p, $lh-text, $primary-white);
      }
    }
  }
}
.gradient-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}