.product {
  padding-bottom: 75px;
  .product-images {
    position: sticky;
    top: 0;
  }
  &-info {
    &-item {
      margin-bottom: 20px;
      .product-info-header {
        margin-bottom: 15px;
        &-title {
          margin-left: 5px;
          @include font($roboto, $black-weight, $h3, $lh-title, $primary-black );
        }
      }
      &-chars {
        .row {
          margin-bottom: 15px;
          p {
            @include font($roboto, $regular-weight, $p, $lh-text, $primary-black);
          }
          .product-info-item-chars-value {
            color: #8C8C8C;
            text-align: right;
          }
        }
        .row:last-child {
          margin-bottom: 0;
        }
      }
      &-desc {
        p {
          @include font($roboto, $regular-weight, $p, $lh-text, $primary-black);
        }
      }
      &-link {
        @include font($roboto, $regular-weight, $p, $lh-text, $primary-color);
        text-decoration: underline;
        text-decoration-style: $primary-color;
      }
    }
    hr {
      margin-bottom: 20px;
    }
  }
  &-img {
    @include boxShadow($regular-box);
    margin-bottom: 24px;
    max-width: 546px;
    max-height: 546px;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}