.stages-leasing {
  .card {
    &-body {
      .card-title {
        overflow: unset;
        line-clamp: unset;
        -webkit-line-clamp: unset;
      }
    }
  }
}

.card {
  border-radius: 0;
  .card-img-top {
    max-height: 182px;
    object-fit: cover;
    object-position: center center;
  }
  &-body {
    .card-links {
      margin-bottom: 12px;
      .card-link {
        @include font($roboto, $regular-weight, $p, $lh-text, $primary-color);
        text-decoration: underline;
        text-decoration-color: $primary-color;
      }
    }
    .card-img-avatar {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-bottom: 12px;
      object-fit: cover;
      object-position: center center;
    }
    .number-stage {
      @include font($roboto, $black-weight, 40px, $lh-title, $primary-color);
      margin-bottom: 12px;
    }
    .card-icon {
      margin-bottom: 12px;
    }
    .card-title {
      @include font($roboto, $black-weight, $h3, $lh-title, $primary-black);
      margin-bottom: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      box-orient: vertical;
    }
    .card-text {
      margin-bottom: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      line-clamp: 4;
      box-orient: vertical;
    }
    .card-number {
      margin-bottom: 12px;
      &-link {
        @include font($roboto, $black-weight, 16px, $lh-title, $primary-black);
      }
    }
  }
}
.card:hover {
  @include animation;
  @include boxShadow($regular-box);
}
.card-our-product {
  @include boxShadow($red-box);
  background-color: $primary-color;
  .card-body {
    .card-title, .card-text {
      color: $primary-white;
    }
    .btn-primary {
      color: $primary-color;
      background-color: $primary-white;
      @include boxShadow($regular-box);
    }
  }
}
.card-our-product:hover {
  @include animation;
}