.news-grid {
  .categories {
    .nav-pills {
      .active {
        background-color: $primary-color;
        color: $primary-white !important;
      }
      .nav-link {
        color: $primary-color;
      }
    }
  }
}