.news-grid {
  .categories {
    .nav-pills {
      .active {
        background-color: $primary-color;
        color: $primary-white !important;
      }
      .nav-link {
        color: $primary-color;
      }
    }
  }
}

.site-header {
  .navbar-nav {
    .dropdown-menu {
      .nav-item {
        margin-right: 0;
      }
      .active {
        color: $primary-white;
      }
      .dropdown-item:active {
        background-color: #fff;
        color: $primary-color;
      }
    }
  }
}

.nav-pills {
  .dropdown-menu {
    .nav-item {
      margin-right: 0;
    }
  }
}